{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": "airbnb",
  "globals": {
    "$": false
  },
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "global-require": 0,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": [
      "error",
      120,
      {
        "ignoreComments": true,
        "ignoreTemplateLiterals": true
      }
    ],
    // CUSTOM - RULES : Below Mentioned Rules
    // need to be taken care one at a time
    "class-methods-use-this": 0,
    "no-script-url": 0,
    "no-underscore-dangle": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/require-default-props": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/no-find-dom-node": 0,
    "react/jsx-indent": [
      2,
      2
    ],
    "react/jsx-indent-props": [
      0,
      2
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-closing-bracket-location": 0,
    // CUSTOM - RULES END
    "react/sort-comp": [
      2,
      {
        "order": [
          "static-properties",
          "static-methods",
          "lifecycle",
          "render",
          "/^render.+$/",
          "/^on.+$/",
          "everything-else"
        ],
        "groups": {
          "lifecycle": [
            "displayName",
            "propTypes",
            "contextTypes",
            "childContextTypes",
            "mixins",
            "statics",
            "defaultProps",
            "constructor",
            "getDefaultProps",
            "state",
            "getInitialState",
            "getChildContext",
            "componentWillMount",
            "componentDidMount",
            "componentWillReceiveProps",
            "shouldComponentUpdate",
            "componentWillUpdate",
            "componentDidUpdate",
            "componentWillUnmount"
          ]
        }
      }
    ],
    "consistent-return": "off",
    "import/no-extraneous-dependencies": [
      0,
      {
        "devDependencies": [
          "**/tests/*.js",
          "**/*.spec.js"
        ]
      }
    ],
    "no-console": "off",
    "no-mixed-spaces-and-tabs": "error",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "no-unused-vars": [
      0,
      {
        "vars": "all",
        "args": "none"
      }
    ]
  }
}
